.mapboxgl-popup-close-button {
  font-size: 22px;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.place {
  font-size: 16px;
}

.desc {
  font-size: 16px;
}

.star {
  color: gold;
}

.username {
  font-size: 16px;
}

.date {
  font-size: 15px;
}

label {
  width: max-content;
  color: teal;
  font-size: 16px;
  border-bottom: 0.5px solid teal;
  margin: 3px 0;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder {
  font-size: 15px;
  color: rgb(177, 174, 174);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: teal;
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.logout {
  background-color: teal;
}

.login {
  background-color: slateblue;
  margin-right: 5px;
}

.register {
  background-color: #B3005E;
}

.dumDiv, .logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

